/* for tablets */
@media screen and (min-width:600px){
    .main-container{
        max-width: 720px;
    }

    .card:nth-of-type(3),
    .card:nth-of-type(4){
        margin-top:34px;
    }
}

/* for desktop */
@media screen and (min-width:1024px){
    .main-container{
        max-width: 1080px;
        /* background:blue; */
    }

    .card:nth-of-type(3),
    .card:nth-of-type(4){
        margin-top:8px;
    }

   .card{
        width:220px;
    }
}

/* general styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

.main-container{
    margin:0 auto;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.main-container .title{
    margin:16px 0 16px 0;
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

/* mobile styles */

.card{
    margin:8px auto 0;
    width: 100%;
    max-width: 250px;
    min-width: 240px;
    font-family: 'Roboto',sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

.card__picture{
    position:relative;
    width:100%;
    height: 380px;
    z-index:100;
}

.content{
    padding:16px 8px;
    top:-7px;
    position:relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px #ccc;
}

.content__title{
    font-size: 1.8rem;
}

.metrics{
    display: inherit;
    gap:12px;
}

.metrics__content{
    display:flex;
    padding-top:2px;
}

.icon{
    display:inline-block;
    width: 18px;
    height: 18px;

}

.icon--like{
    background-image:url('./icons/like.svg');
}

.count{
    margin-left: 4px;
}

.icon--heart{
    background-image:url('./icons/heart.svg');
}




